.full-screen-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  column-gap: 20px;
}

/* Styles pour le bloc de détails de la photo */
.photo-details {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 20px;
  height: 70vh;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  order: 1;
}
.photo-details h2 {
  font-family: "Space Mono";
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
}

/* Styles pour le bloc photo */

.photo-image {
  flex-basis: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  height: 70vh;
  max-height: 70vh;
  order: 2;
}

.photo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.additional-content {
  display: flex;
  width: 100%;
  height: 118px;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Mono", monospace;
  border-bottom: 1px solid black;
  order: 3;
}
.text-contact-container {
  width: 49%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.text-contact-container p {
  font-family: "Poppins", monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 50px;

  border-radius: 2px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  background-color: #d8d8d8;
  box-shadow: 0px 2px 1px 0px #00000005;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  transition: transform 500ms ease-out;
}

.contact:hover {
  transform: scale(1.05);
  color: white;
  background-color: black;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 8%;
  height: 70%;
}

.navigation-links {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-self: self-end;
}

.thumbnail-container {
  display: block;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}

.thumbnail-img {
  width: 81px;
  height: 71px;
  transition: transform 0.3s ease-in-out;
}
.thumbnail-img:hover {
  transform: scale(1.1);
  border: 1px solid white;
}
.nav-link {
  text-decoration: none;
}

/* Styles pour la miniature au survol */
#hover-thumbnail-container {
  display: none;
  padding-bottom: 10px;
  align-self: self-end;
}

#hover-thumbnail-container img {
  width: 81px;
  height: 71px;
  object-fit: cover;
}

.nav-link:hover {
  cursor: pointer;
}

/**** photos apparentees *****/

.related-photo-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.photo-appart {
  display: flex;
  flex-direction: column;
}

.photo-appart h3 {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.photo-suggest {
  margin-top: 45px;
  display: flex;
  /*gap: 20px;*/
}

/*********************************************     Media Queries    ****************************************************************/
@media (max-width: 767px) {
  .full-screen-section {
    flex-direction: column;
    width: 75%;
  }
  .photo-details,
  .photo-image,
  .additional-content {
    flex-basis: 100%;
    padding-bottom: 20px;
    justify-content: center;
  }

  .photo-details h2 {
    font-size: 50px;
  }
  .text-contact-container {
    flex-direction: column;
    width: 90%;
  }

  .text-contact-container p,
  .text-contact-container a {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
  }
  .navigation {
    display: none;
  }

  .related-photo-section {
    width: 90%;
  }
  .photo-suggest {
    gap: 0;
  }

  .photo-details {
    order: 2;
  }
  .photo-image {
    order: 1;
  }

  .photo-appart h3 {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .photo-details {
    flex-basis: 48%;
  }
  .photo-image {
    flex-basis: 48%;
  }
  .photo-items {
    width: 48%;
  }
  .text-contact-container {
    width: 80%;
  }
  .navigation {
    width: 13%;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
}
