.custom-dropdown {
  position: relative;
  width: 260px;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
  text-align: left;
  /* background-color: #e5e5e5; */
  border-bottom: none;
  padding: 13px 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 1px;
  font-family: "Poppins'";
  text-transform: uppercase;
  border: 1.3px solid #b8bbc2;
  color: #313144;
  font-weight: 500;
  margin-bottom: 40px;
  height: 42px;
}

.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -1.3px;
}

.arrow {
  float: right;
  height: 6px;
  width: 11px;
  padding-top: 2px;
}
.select-hidden {
  display: none;
}
.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);*/
  background-color: #ffffff;
  z-index: 999;
  border-radius: 8px;
}

.dropdown-menu {
  border-top: none; /* Élimine la double bordure entre les deux blocs */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -1.7px; /* Ajustement pour chevaucher la bordure et éviter un espace */
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
}

.dropdown-menu li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dropdown-menu li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-menu li:hover {
  background-color: #e00000;
}
